<h1>Listing Images</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Image</th>
    <th></th>
  </tr>

  <% @images.reverse_each do |image| %>
      <tr>
        <td><%= image.link %></td>
        <td><%= link_to 'Show', image_path(image) %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Back', welcome_index_path %>
